{% assign t = site.data.i18n[page.lang].footer %}
<footer role="contentinfo">
    <div class="container">  
        <div class="footer-content gap">
            <div class="dassco-logo">
                <img src="{{ '/assets/images/logos/DasCCo-logo-small.png' | relative_url }}" alt="Image of DaSSCo Logo">
            </div>
            <div class="dassco-links gap">
                <h2>{{ t.searching.title }}</h2>
                <a href="/about">{{ t.searching.about }}</a>
                <a href="/news">{{ t.searching.news }}</a>
                <a href="/occurrence/search">{{ t.searching.data }}</a>
            </div>
            <div class="dassco-contact gap">
                <h2>{{ t.contact.title }}</h2>
                <p>{{ t.contact.email }}</p>
                <p>{{ t.contact.address }}</p>
                <p>{{ t.contact.zip-country }}</p>
            </div>
        </div>
    </div>
    <div id="hosted-by">
        <img src="{{ '/assets/images/footer/hostedbygbif.svg' | relative_url }}" alt="Image of GBIF Logo">
    </div>
</footer>
<script src="{{ '/assets/theme/js/script.js' | relative_url }}"></script>