<footer>
    <div class="container">  
        <div class="footer-content gap">
            <div class="dassco-logo">
                <img src="../assets/images/DasCCo-logo-web-farve-230-b-1.png">
            </div>
            <div class="dassco-links gap">
                <h4>Searching for?</h4>
                <a href="" target="_blank">About</a>
                <a href="" target="_blank">News and Stories</a>
                <a href="" target="_blank">Access Data</a>
            </div>
            <div class="dassco-contact gap">
                <h4>Contact</h4>
                <p>info@dassco.dk</p>
                <p>Universitetsparken 15,</p>
                <p>2100 Copenhagen, Denmark</p>
            </div>
        </div>
    </div>
    <div id="hosted-by">
        <img src="../assets/images/hostedbygbif.svg">
    </div>
</footer>