// Imports main
@import "theme/_main";

// Imports front-page
@import "pages/myhome";

// Imports about
@import "pages/about";
@import "pages/contact";
@import "pages/team";

// You can add additional styling here
// @import "_example";
@font-face {
    font-family: "Open Sans";
    src: url("/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "Noto Sans";
    src: url("/assets/fonts/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5a7du3mhPy0.woff2") format("woff2");
}

/* CSS Variables */
:root {
  --color-blue: #081972;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #666;
  --color-darkgrey: #333;

  --color-background-blue: #001972;
  --color-background-lightorange: #BF9F8924;
  --color-background-lightblue: #8bc0f424;
  
  --gap-small: clamp(0.5rem, 0.5rem + 1vw, 1rem);
  --gap-medium: clamp(1rem, 1rem + 1vw, 1.5rem);
  --gap-large: clamp(1.5rem, 1.5rem + 2vw, 2rem);

  --padding-small: clamp(0.5rem, 0.5rem + 1vw, 1rem);
  --padding-medium: clamp(1rem, 1rem + 1vw, 1.5rem);
  --padding-large: clamp(1.5rem, 1.5rem + 2vw, 2rem);

  --max-width-mobile: 90%;
  --max-width-tablet: 90%;
  --max-width-desktop: 1200px;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

/* Mobile */
html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
  font-family: "Noto Sans", "Open Sans", Arial, sans-serif;
  line-height: 1.7;
  color: var(--color-black);
  background-color: var(--color-white);
  font-weight: 500;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

.container {
  width: 100%;
  max-width: var(--max-width-mobile);
  margin: 0 auto;
  padding: var(--padding-small);
  height: fit-content;
}

/* Helper classes */
.background-image-connector-top {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNGRkZGRkYiPjxwYXRoIGQ9Ik0xMjgwIDY5LjY1bC0zMjAgNDkuMjRMMzIwIDIwLjQgMCA2OS42NVYwaDEyODB2NjkuNjV6Ii8+PC9nPjwvc3ZnPg==);
    min-height: 100px;
    max-height: 100px;
}

.background-image-connector-bottom {
    background-image: url("/assets/images/background.svg");
    min-height: 100px;
    max-height: 100px;
}

.button {
  background-color: #001972;
  border-radius: 100px;
  padding: var(--padding-small);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  line-height:1.25rem;
  width: fit-content;
  justify-self: center;

  a {
    color: var(--color-white);
  }
}

.category {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--color-blue);
}

.padding {
  padding: var(--padding-small);
}

.padding-sides {
  padding: 0 var(--padding-small);
}

.gap {
  display: grid;
  gap: var(--gap-small);
}


/* Footer Content */
footer {
  background-color: var(--color-background-lightorange);
}

.footer-content {
  text-align: center;
}

.dassco-logo {
  align-self: center;
}

.dassco-links {

    h4 {
      color: var(--color-darkgrey);
      font-weight: 700;
    }

    a {
      color: var(--color-blue);
      font-weight: 500;
    }
}

.dassco-contact {

    h4 {
      color: var(--color-darkgrey);
      font-weight: 700;
    }

    p {
      color: var(--color-grey);
      font-weight: 500;
    }
}

#hosted-by {
    display: grid;
    background-color: #222;
    padding: 0.5rem 0;
    justify-content: center;
}


/* Tablet */
@media (min-width: 600px) {
  .container {
    max-width: var(--max-width-tablet);
    padding: var(--padding-medium);
  }

  .button {
    padding: var(--padding-medium);
  }

  .padding {
    padding: var(--padding-medium);
  }

  .padding-sides {
    padding: 0 var(--padding-medium);
  }

  .gap {
    gap: var(--gap-medium)
  }

  /* Footer */
  .footer-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    max-width: var(--max-width-desktop);
    padding: var(--padding-large);
  }

  .button {
    padding: var(--padding-large)
  }

  .padding {
    padding: var(--padding-large);
  }

  .padding-sides {
    padding: 0 var(--padding-large);
  }

  .gap {
    gap: var(--gap-large);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
