@import "theme/_main";

// You can add additional styling here
// @import "_example";
@font-face {
    font-family: "Open Sans";
    src: url("/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "Noto Sans";
    src: url("/assets/fonts/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5a7du3mhPy0.woff2") format("woff2");
}

/* CSS Variables */
:root {
  --color-blue: #081972;
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #666;
  --color-darkgrey: #333;

  --color-background-blue: #001972;
  --color-background-lightorange: #BF9F8924;
  --color-background-lightblue: #8bc0f424;
  
  --spacing-small: clamp(0.5rem, 0.5rem + 0.5vw, 1rem);
  --spacing-medium: clamp(1rem, 1rem +1vw, 2rem);
  --spacing-large: clamp(2rem, 2rem +2vw, 4rem);

  --max-width-mobile: 90%;
  --max-width-tablet: 80%;
  --max-width-desktop: 1200px;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

/* Mobile */
html {
    scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", "Open Sans", Arial, sans-serif;
  line-height: 1.7;
  color: var(--color-black);
  background-color: var(--color-white);
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: var(--max-width-mobile);
  margin: 0 auto;
  padding: var(--spacing-small);
  height: fit-content;
}

/* Helper classes */
.background-image-connector-top {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNGRkZGRkYiPjxwYXRoIGQ9Ik0xMjgwIDY5LjY1bC0zMjAgNDkuMjRMMzIwIDIwLjQgMCA2OS42NVYwaDEyODB2NjkuNjV6Ii8+PC9nPjwvc3ZnPg==);
    min-height: 100px;
    max-height: 100px;
}

.background-image-connector-bottom {
    background-image: url("/assets/images/background.svg");
    min-height: 100px;
    max-height: 100px;
}

.button {
  background-color: #001972;
  border-radius: 100px;
  padding: var(--spacing-small);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  line-height:1.25rem;

  a {
    color: var(--color-white);
  }
}
/* Hero Image */
.hero-slideshow {
    position: relative;
    background-image: url("/assets/images/R5__0113_WebLarge-scaled.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 73vh;
}

.hero-title {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  font-variant-caps: small-caps;
  
  

  h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
  }

  p {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
  }
}

/* Statistics */
.statistics {
  background-color: var(--color-background-lightblue);
  padding: 0;
}

.stat {
    display: grid;
    gap: var(--spacing-small);
}

.information {
  text-align: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);

  img {
    max-width: 55%;
  }
}

/* Rubrik */
.rubrik {

  .container {
    display: grid;
    gap: var(--spacing-small);

    h2 {
      color: var(--color-blue);
      font-size: 2rem;
      font-weight: 600;
    }

    p {
      color: var(--color-grey);
      font-weight: 600;
    }
  }
}
/* What is Dassco */
.what-is-dassco {

  .container {
    display: grid;
    gap: var(--spacing-small);
  }
}
.what-is-dassco-container {
  text-align: center;
  padding: var(--spacing-small);
  background-color: var(--color-background-lightblue);
  border-radius: 1rem;
  box-shadow: 0px 10px 60px 0px rgba(1, 33, 92, 0.1);
  display: grid;
  gap: var(--spacing-small);

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  p {
    color: var(--color-grey);
  }
}

/* News and Stories */
.news-and-stories {
    background-color: var(--color-background-lightblue);
}

.news-and-stories-header {

  h2 {
    font-size: 2rem;
    color: var(--color-blue);
    font-weight: 700;
  }

  p {
    font-size: 0.75rem;
    color: var(--color-grey);
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
  }
}

.news-and-stories-content {
  display: grid;
  gap: var(--spacing-small);

  div {
    display: grid;
    gap: var(--spacing-small);
  }
}

/* Partners Content */
.partners {
  
}

.partners-carousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:3rem;
    padding:5rem 0;
}

/* Footer Content */
footer {
  background-color: var(--color-background-lightorange);
}

.footer-content {
  display: grid;
  text-align: center;
  gap: var(--spacing-small);
}

.dassco-links {
    display: grid;
    gap: var(--spacing-small);

    h4 {
      color: var(--color-darkgrey);
      font-weight: 700;
    }

    a {
      color: var(--color-blue);
      font-weight: 500;
    }
}

.dassco-contact {
    display: grid;
    gap: var(--spacing-small);

    h4 {
      color: var(--color-darkgrey);
      font-weight: 700;
    }

    p {
      color: var(--color-grey);
      font-weight: 500;
    }
}


/* Tablet */
@media (min-width: 600px) {
  .container {
    max-width: var(--max-width-tablet);
    padding: var(--spacing-medium);
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    max-width: var(--max-width-desktop);
    padding: var(--spacing-large);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
