#about {
    text-align: left;

    .top-background-image{
        background-image: url("/assets/images/placeholders/R5__0552_WebSmall.jpg");
    }

    h1 {
        color: var(--color-blue);
        font-size: 2rem;
        font-weight: 700;
        line-height: 2rem;
    }

    h2 {
        color: var(--color-darkgrey);
        font-size: 1.25rem;
        font-weight: 600;
    }

    .what-is-dassco-container {
        border: 1px solid #d9d9d9;
        border-radius: 10px;
        text-align: left;
    }

    .illustration {
        display: grid;
    }
}

@media (min-width: 600px) {
    .about-main {
        > div {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (min-width: 1024px) {

}
