.about {
    text-align: left;
    
    h1 {
        color: var(--color-blue);
        font-size: 2rem;
        font-weight: 700;
    }

    h2 {
        color: var(--color-darkgrey);
        font-size: 1.25rem;
        font-weight: 600;
    }

    .what-is-dassco-container {
        border: 1px solid #d9d9d9;
        border-radius: 10px;
        text-align: left;
    }
}

@media (min-width: 600px) {
    .about-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1024px) {

}