/* fix for remote theme */
.article {
    margin: 0;
    max-width: inherit;
}

/* styling for article page */
#article {

    .article {
        margin: 0;
        max-width: inherit;
    }

    h1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.5rem;
        color: var(--color-blue);
    }

    h2 {
        font-size: 1rem;
        font-weight: 700;
    }

    p {
        margin: 0;
    }

    .teaser {
        
    }

    .container {
        display:grid;
        gap: 2rem;
    }

    .article-top {
        display: grid;
        gap: 1rem;
    }

    .article-image {
        width: 100%;
        text-align: center;
    }

    .article-information {
        display: grid;
        gap: 1rem;

        div {
            display:flex;
            gap: 1rem;
            align-items: center;

            img {
                height: 1.5rem;
                width: 1.5rem;
            }
        }
    }

    .content {
        margin: 0;
        display: grid;
        gap: 1rem;
        color: var(--color-grey);
    }

    .recommended-articles {
        display: grid;
        gap: 2rem;

        .article {
            text-align: center;
            border: 1px solid #d8d8d8;
            margin: 0;
            box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.2);
            background-color: var(--color-white);

            .article-image {
                max-height: 200px;
                height: 200px;
                overflow: hidden;
                text-align: center;
                width: 100%;
            }

            .article-text {
                padding: 1rem;
                display: grid;
                gap: 0.5rem;
            }
        }
    }
}

@media (min-width: 600px) {
    .recommended-articles {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .article {
        margin: 0;
        max-width: inherit;
    }
}

@media (min-width: 1024px) {
    .recommended-articles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .article {
        margin: 0;
        max-width: inherit;
    }
}