div:has(> section.contact){
    height: 100%;
    display:grid;
    grid-template-rows: 1fr auto;
}

#contact {
    text-align: left;

    .top-background-image{
        background-image: url("/assets/images/HeroImages/R5__0113_WebLarge-scaled.jpg");
    }

    h1 {
        color: var(--color-blue);
        font-size: 2rem;
        font-weight: 700;
        line-height: 2rem;
    }

    h2 {
        color: var(--color-darkgrey);
        font-size: 1.25rem;
        font-weight: 600;
    }

    .contact-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 600px) {

}

@media (min-width: 1024) {

}