#institutions {
    h1 {
        color: var(--color-blue);
        font-size: 2rem;
        font-weight: 700;
    }

    h2 {
        color: var(--color-darkgrey);
        font-size: 1.25rem;
        font-weight: 600;
    }

    p {
        color: var(--color-grey);
    }

    .main {
        display: grid;
        gap: 5rem;
        padding-bottom: 5rem;
    }

    /* 
    .institution:nth-child(odd) {
        background-color: var(--color-background-lightblue);
    }
    */

    .institution {
        > div {
            display:grid;
            align-items: center;
            justify-items: center;
            gap: 2rem;
        }

        img {
            max-height: 10rem;
        }
    }

    @media (min-width: 600px) {

        .institution {
            > div {
                grid-template-columns: 2fr 1fr;
                gap: 2rem;
            }
        }
                    
    }

    @media (min-width: 1024px) {
        .institution {
            > div {
                grid-template-columns: 2fr 1fr;
                gap: 5rem;
            }
        }
    }
}