/* Hero Image */
#hero-slideshow {
    position: relative;
    height: 73vh;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.visible {
  opacity: 1;
}

.hero-title {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  font-variant-caps: small-caps;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
  }

  p {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
  }
}

/* Statistics */
.statistics {
  background-color: var(--color-background-lightorange);
  padding: 0;

  .container {
    grid-template-columns: 1fr 1fr;
  }
}

.stat {
  grid-template-columns: 1fr;
}

.information {
  text-align: center;
}

.stat-logo {
  max-width: 75%;
  max-height: 100px;
}

.feature-content {
  p {
    font-size: 1.25rem;
    margin-bottom: 0!important;
  }

  h2 {
    font-size: 1rem;
  }
}

/* Rubrik */
.rubrik {

  .container {
    h2 {
      color: var(--color-blue);
      font-size: 2rem;
      font-weight: 600;
    }

    p {
      color: var(--color-grey);
      font-weight: 600;
    }
  }
}
/* What is Dassco */
.what-is-dassco {

}

.what-is-dassco-main {
  .button {
    justify-self: left;
  }
}

.what-is-dassco-container {
  text-align: center;
  background-color: var(--color-background-lightblue);
  border-radius: 1rem;
  box-shadow: 0px 10px 60px 0px rgba(1, 33, 92, 0.1);

  h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  p {
    color: var(--color-grey);
  }
}

/* News and Stories */
.news-and-stories {
    background-color: var(--color-background-lightblue);
}

.news-and-stories-content {

  .news-and-stories-logos {
    display: inline-block;
  }
}

.news-and-stories-main {

}

.news-and-stories-header {

  h2 {
    font-size: 2rem;
    color: var(--color-blue);
    font-weight: 700;
  }

  p {
    font-size: 1.25rem;
    color: var(--color-grey);
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
  }
}

.news-and-stories-information {
  text-align: center;

  h3 {
    font-size: 1.25rem;
    font-weight: 700;
  }

  p {
    color: var(--color-grey);
  }
}

.news-and-stories-news {

}

.news-and-stories-news-block {
  background-color: var(--color-white);
  border-radius: 1rem;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);

  > div {
    padding: 2rem;
  }
}

.news-and-stories-news-block-image {
  border-radius: 1rem 1rem 0 0;
  max-height: 250px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

/* Dodo Content */
.dodo {
  
  h2 {
    color: var(--color-blue);
    font-size: 2rem;
    font-weight: 600;
  }

  p {
    color: var(--color-grey);
    font-weight: 700;
  }

  .button {
    justify-self: left;
  }

  .dodo-box {
    display: grid;
    grid-template-columns: 1fr 2fr;

    h3 {
      color: var(--color-darkgrey);
      font-weight: 700;
    }

    p {
      font-weight: 500;
    }

    .dodo-images {
      position: relative;
      width: 100%;
      aspect-ratio: 4 / 3;
      overflow: hidden;
      user-select: none;
      cursor: ew-resize; 
    }

    .dodo {
      position: absolute;
      inset: 0;

      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .dodo-before {
      clip-path: inset(0 50% 0 0);
    }

    .dodo-slider {
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      z-index: 10;
    }

    .image-before-wrapper {
      position: absolute;
      inset: 0;
      width: 50%;
      overflow: hidden;
    }

    .slider-handle {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
      display: flex;
      align-items: center;
      pointer-events: none;
    }

    .handle-line {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 2px;
      background: white;
      left: 50%;
      transform: translateX(-50%);
    }

    .handle-circle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
      border: solid 3px white;
    }
  }
}

/* Partners Content */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.partners-slider {
  width: 100%;
  overflow-x: hidden;
  white-space: nowrap;
}

.partners-track {
    animation: 15s scroll infinite linear;
    display: inline-block;
    white-space: nowrap;
    width: max-content;

    img {
      height: auto;
      width: auto;
      max-width: 10rem;
      max-height: 5rem;
      margin: 0 5rem 0 0;
      vertical-align: middle;
      transition: transform 0.3s ease;
    }

    img:hover {
      transform: scale(1.2);
    }
}

.partners-track:hover {
  animation-play-state: paused;
}

/* Tablet */
@media (min-width: 600px) {

    /* Hero Image */
  .hero-title {
    h1 {
        font-size: 4rem;
    }
  }
  /* statistics */
  .statistics {
    .container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  /* What is Dassco */

  /* News and Stories */
  .news-and-stories-news {
    grid-template-columns: 1fr 1fr;
  }

  .news-and-stories-content {
    gap: var(--gap-medium);
  }

  .news-and-stories-main {
    gap: var(--gap-medium);
  }

  /* Partners */
  .partners-track {
    animation: 20s scroll infinite linear;

    img {
      margin: 0 6rem 0 0;
    }
  }
}

/* Desktop */
@media (min-width: 1024px) {

  /* statistics */
  .statistics {
    .container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  /* What is Dassco */
  .what-is-dassco-main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* News and Stories */
  .news-and-stories-content {
    grid-template-columns: 3fr 2fr;
  }

  .news-and-stories-news {
    grid-template-columns: 1fr;
  }

  /* Partners */
  .partners-track {
    animation: 25s scroll infinite linear;

    img {
      margin: 0 8rem 0 0;
    }
  }
}