#news {

    .container {
        display:grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .top-background-image{
        background-image: url("/assets/images/placeholders/R5__0613_WebSmall.jpg");
    }

    .article {
        text-align: center;
        border: 1px solid #d8d8d8;
        margin: 0;
        box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.2);
        background-color: var(--color-white);
    }

    .article-image {
        max-height: 200px;
        overflow: hidden;
        text-align: center;
        width: 100%;
    }

    .article-text {
        padding: 2rem;
    }

    .divider {
        h1 {
            font-size: 2rem;
            color: var(--color-blue);
            font-weight: 700;
        }
    }

    h1 {
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--color-darkgrey);
        line-height: 2rem;
    }

    p {
        font-size: 1rem;
        color: var(--color-grey);
        font-weight: 500;
    }

    @media (min-width: 600px) {
        .container {  
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (min-width: 1024px) {
        .container {  
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

