#organisations {
    
    .top-background-image{
        background-image: url("/assets/images/HeroImages/R5__0113_WebLarge-scaled.jpg");
    }

    h1 {
        color: var(--color-blue);
        font-size: 2rem;
        font-weight: 700;
        line-height: 2rem;
    }

    h2 {
        color: var(--color-darkgrey);
        font-size: 1.25rem;
        font-weight: 600;
    }

    p {
        color: var(--color-grey);
    }

    .main {
        display: grid;
        gap: 5rem;
        padding-bottom: 5rem;
    }

    /* 
    .organisation:nth-child(odd) {
        background-color: var(--color-background-lightblue);
    }
    */

    .organisation {
        display:grid;
        gap: 1rem;

        > div {
            display:grid;
            align-items: center;
            justify-items: center;
            gap: 2rem;
        }

        img {
            max-height: 10rem;
        }

        p {
            background-color: var(--color-background-lightblue);
            padding: 1rem;
            border-radius: 1rem;
            box-shadow: 0px 10px 60px 0px rgba(1, 33, 92, 0.1);
            border: 1px solid #d9d9d9;
            border-radius: 10px;
        }
    }

    @media (min-width: 600px) {

        .organisation {
            > div {
                grid-template-columns: 2fr 1fr;
                gap: 2rem;
            }
        }
                    
    }

    @media (min-width: 1024px) {
        .organisation {
            > div {
                grid-template-columns: 2fr 1fr;
                gap: 5rem;
            }
        }
    }
}