#resources {
    .top-background-image {
        background-image: url("/assets/images/placeholders/R5__0154_WebLarge_Extra.jpg");
    }

    h1 {
        color: var(--color-blue);
        font-size: 2rem;
        font-weight: 700;
        line-height: 2rem;
    }
}
