.team {
    h1 {
        color: var(--color-blue);
        font-size: 2rem;
        font-weight: 700;
    }

    .team-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }

    .team-person {
        h2 {
            font-size: 1.5rem;
            font-weight: 500;
        }

        h3 {
            font-size: 1rem;
            font-weight: 400;
            color:var(--color-grey);
        }

        a {
            font-size: 1.125rem;
            color:var(--color-blue);
        }

        img {
            border-radius: 25px;
        }
    }
}