#team {

    .top-background-image{
        background-image: url("/assets/images/HeroImages/R5__0556_WebLarge.jpg");
    }

    h1 {
        color: var(--color-blue);
        font-size: 2rem;
        font-weight: 700;
    }

    .team-main {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .team-person {
        padding-bottom: 2rem;

        h2 {
            font-size: 1.5rem;
            font-weight: 500;
        }

        h3 {
            font-size: 1rem;
            font-weight: 400;
            color:var(--color-grey);
        }

        a {
            font-size: 1.125rem;
            color:var(--color-blue);
        }

        img {
            border-radius: 25px;
            
        /*  IMPORTANT NOTE: change the value to match the height of your prefered format. Best method 
            is to have the same size for all pictures so no weird cases will pop up. This value below 
            is only to ensure uniformity in the layout  */
            max-height: 200px;
        }
    }

    @media (min-width: 600px) {
        .team-person {
            padding-bottom: 4rem;
        }

        .team-main {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (min-width: 1024px) {
        .team-person {
            padding-bottom: 6rem;
        }

        .team-main {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

