---
layout: base
---
<section id="article" class="article">
    <div class="container">
        <h1>{{ page.title }}</h1>
        <p class="teaser">{{ page.teaser }}</p>
        <div class="article-top">
            <div class="article-image">
                <img src="{{ page.mainImage | relative_url }}" alt="{{ page.altImageText[page.lang] }}">
            </div>
            <div class="article-information">
                <div>
                    <img src="{{ '/assets/images/Icons/calender.svg' | relative_url }}" alt="Calender icon"><p>{{ page.date | date: "%B %-d %Y" }}</p>
                </div>
                <div>
                   <img src="{{ '/assets/images/Icons/category.svg' | relative_url }}" alt="Category icon"><p>{{ page.type }}</p>
                </div>
            </div>
        </div>
        <div class="content divider">
            {{ content }}
        </div>

        <h2>You may want to read</h2>
        <div class="recommended-articles">
            {% assign sorted_articles = site.news | sort: "date" | reverse %}
            {% for article in sorted_articles limit:3%}
                <article class="article">
                    <div class="article-image">
                        <img src="{{ article.mainImage  | relative_url }}" alt="{{ article.altImageText[page.lang] }}">
                    </div>
                    <div class="article-text">
                        <a href="/news/{{ article.link }}"><h2>{{ article.title }}</h2></a>
                        <p>{{ article.date | date: "%B %-d %Y" }} | {{ article.type }}</p>
                    </div>    
                </article>
            {% endfor %}
        </div>
    </div>
</section>