---
layout: base
---
<!-- Hero image slideshow -->
<div class="hero-slideshow">
    <div class="hero-title">
        <h1>Danish System of Scientific Collections</h1>
        <p>Part of the European Project DiSSCo</p>
    </div>
</div>
<!-- Statistics -->
<section id="statistics" class="statistics">
    <div class="container stat gap">
        <div class="information">
            <img src="../assets/images/specimens.webp" class="logo">
            <div class="feature-content">
                <p id="feature-occourence" class="testclass">Loading...</p>
                <a href=""><h3>Occourences</h3></a>                      
            </div>
        </div>
        <div class="information">
            <img src="../assets/images/collections.webp" class="logo">
            <div class="feature-content">
                <p id="feature-datasets">Loading...</p>
                <a href=""><h3>Datasets</h3></a>
            </div>
        </div>
        <div class="information">
            <img src="../assets/images/collections.webp" class="logo">
            <div class="feature-content">
                <p id="feature-collections">Loading...</p>
                <a href=""><h3>Collections</h3></a>
            </div>
        </div>
    </div>
</section>

<!-- Rubrik -->
<section id="rubrik" class="rubrik">
    <div class="background-image-connector-bottom"></div>
    <div class="container gap">
        <h2>Digitising Natural History in Denmark</h2>
        <p>We are digitising Denmark&#8217;s estimated 19 million natural specimens. We are committed to sharing our data and knowledge globally so that everyone can benefit.</p>
    </div>
</section>

  <!-- What is Dassco -->
<section id="what-is-dassco" class="what-is-dassco">
    <div class="what-is-dassco-main container gap">
        <div class="what-is-dassco-container gap padding">
            <h3>What is DaSSCo?</h3>
            <p>DaSSCo is a national mass digitisation program and research infrastructure. We are experts in the digitisation of natural history.</p>
        </div>
        <div class="what-is-dassco-container gap padding">
            <h3>Why DaSSCo?</h3>
            <p>Denmark's rich natural history collections contain data that can help tackle urgent scientific and societal issues. Our mission is to make that data accessible.</p>
        </div>
        <div class="what-is-dassco-container gap padding">
            <h3>Who are we?</h3>
            <p>DaSSCo is a collaboration between Natural History Museum Denmark, Science Museums Aarhus University, the Natural History Museum Aarhus and the Technical University of Denmark.</p>
        </div>
        <div class="button">
            <a href="./about.html">Read more about DaSSCo</a>
        </div>
    </div>
    
</section>

  <!-- News and Stories -->
<section id="news-and-stories" class="news-and-stories">
    <div class="background-image-connector-top"></div>
        <div class="container news-and-stories-content gap">
            <div class="news-and-stories-main gap">
                <div class="news-and-stories-header">
                    <h2>News and Stories</h2>
                    <p>Stay updated! Read the latest DaSSCo news here</p>
                </div>
                <img src="../assets/images/R5__0086_WebSmall.jpg">
                <div class="news-and-stories-information gap">
                    <h3>Find information on Social Media</h3>
                    <p>Want to be updated on the latest news from DaSSCo institutions?</p>
                    <p>Check out our institution's Facebook and LinkedIn. They are updated regularly with the latest information.</p>
                    <p>Follow today!</p>
                    <div class="news-and-stories-logos">
                        <a href="" target="_blank">Facebook</a>
                        <a href="" target="_blank">LinkedIn</a>
                    </div>
                </div>
            </div>
            <div class="news-and-stories-news gap">
                <article class="news-and-stories-news-block padding">
                    <h3><a href="" target="_blank">
                        News from the DaSSCo mass digitisation programme &#x2013; April to June 2025
                        </a>
                    </h3>
                <a href="" target="_blank" class="category">News</a>
                </article>
                <article class="news-and-stories-news-block">
                    <a href="" target="_blank">
                        <img class="news-and-stories-news-block-image" src="../assets/images/Roberta.jpg">
                    </a>
                    <div class="padding">
                        <h3><a href="" target="_blank">
                            Innovative project from UCPH researchers: Using deep learning to automatically generate phylogenetic trees from digitised specimens
                            </a>
                        </h3> 
                        <a href="" target="_blank" class="category">News</a>
                    </div>  
                </article>
                <div class="button">
                    <a>See all news</a>
                </div>
            </div>
        </div>     
</section>

  <!-- Partners Section -->
<section id="partners">
    <div class="background-image-connector-bottom"></div>
    <div class="partners container">
        <div class="partners-carousel">
            <div>
                <img src="../assets/images/partnerLogos/logo.svg" class="logo">
            </div>
            <div>
                <img src="../assets/images/partnerLogos/logo1.svg" class="logo">
            </div>
            <div>
                <img src="../assets/images/partnerLogos/logo2.svg" class="logo">
            </div>
            <div>
                <img src="../assets/images/partnerLogos/logo.svg" class="logo">
            </div>
        </div>
    </div>
</section>

<script src="{{ '/assets/js/script.js' | relative_url }}"></script>