---
layout: base
---
<!-- Hero image slideshow -->
<div id="hero-slideshow">
    <div class="slide" id="slideA"><!-- slide A --></div>
    <div class="slide" id="slideB"><!-- slide B --></div>
    <div class="hero-title">
        <h1>Danish System of Scientific Collections</h1>
        <p>Part of the European Project DiSSCo</p>
    </div>
</div>
<!-- Statistics -->
<section id="statistics" class="statistics">
    <div class="container stat gap">
        <div class="information">
            <img src="{{ '/assets/images/specimens.webp' | relative_url }}" alt="" class="stat-logo">
            <div class="feature-content">
                <p id="feature-occourence">Loading...</p>
                <a href=""><h2>Occourences</h2></a>                      
            </div>
        </div>
        <div class="information">
            <img src="{{ '/assets/images/collections.webp' | relative_url }}" alt="" class="stat-logo">
            <div class="feature-content">
                <p id="feature-datasets">Loading...</p>
                <a href=""><h2>Datasets</h2></a>
            </div>
        </div>
        <div class="information">
            <img src="{{ '/assets/images/collections.webp' | relative_url }}" alt="" class="stat-logo">
            <div class="feature-content">
                <p id="feature-collections">Loading...</p>
                <a href=""><h2>Collections</h2></a>
            </div>
        </div>
        <div class="information">
            <img src="{{ '/assets/images/collections.webp' | relative_url }}" alt="" class="stat-logo">
            <div class="feature-content">
                <p id="feature-tbd">Loading...</p>
                <a href=""><h2>To be determined</h2></a>
            </div>
        </div>
    </div>
</section>

<!-- Rubrik -->
<section id="rubrik" class="rubrik">
    <div class="background-orange-image-connector-bottom"></div>
    <div class="container gap">
        <h2>Digitising Natural History in Denmark</h2>
        <p>We are digitising Denmark&#8217;s estimated 19 million natural specimens. We are committed to sharing our data and knowledge globally so that everyone can benefit.</p>
    </div>
</section>

  <!-- What is Dassco -->
<section id="what-is-dassco" class="what-is-dassco">
    <div class="what-is-dassco-main container gap">
        <div class="what-is-dassco-container padding">
            <h3>What is DaSSCo?</h3>
            <p>DaSSCo is a national mass digitisation program and research infrastructure. We are experts in the digitisation of natural history.</p>
        </div>
        <div class="what-is-dassco-container padding">
            <h3>Why DaSSCo?</h3>
            <p>Denmark's rich natural history collections contain data that can help tackle urgent scientific and societal issues. Our mission is to make that data accessible.</p>
        </div>
        <div class="what-is-dassco-container padding">
            <h3>Who are we?</h3>
            <p>DaSSCo is a collaboration between Natural History Museum Denmark, Science Museums Aarhus University, the Natural History Museum Aarhus and the Technical University of Denmark.</p>
        </div>
        <div class="button">
            <a href="./about.html">Read more about DaSSCo</a>
        </div>
    </div>
    
</section>

  <!-- News and Stories -->
<section id="news-and-stories" class="news-and-stories">
    <div class="background-image-connector-top"></div>
        <div class="container news-and-stories-content gap">
            <div class="news-and-stories-main gap">
                <div class="news-and-stories-header">
                    <h2>News and Stories</h2>
                    <p>Stay updated! Read the latest DaSSCo news here</p>
                </div>
                <img src="{{ '/assets/images/R5__0086_WebSmall.jpg' | relative_url }}" alt="">
                <div class="news-and-stories-information gap">
                    <h3>Find information on Social Media</h3>
                    <p>Want to be updated on the latest news from DaSSCo institutions?</p>
                    <p>Check out our institution's Facebook and LinkedIn. They are updated regularly with the latest information.</p>
                    <p>Follow today!</p>
                    <div class="news-and-stories-logos">
                        <a 
                            href="https://www.facebook.com/StatensNaturhistoriskeMuseum/" 
                            target="_blank"
                            aria-label="Follow us on Facebook (opens in new tab)"
                            rel="noopener noreferrer"
                        >
                            <img 
                                class="logo"
                                src="{{ '/assets/images/Icons/facebook_blue.svg' | relative_url }}"
                                alt="Facebook logo"
                            >
                        </a>
                        <a 
                            href="https://www.linkedin.com/company/statens-naturhistoriske-museum/posts/?feedView=all"
                            target="_blank"
                            aria-label="Follow us on LinkedIn (opens in new tab)"
                            rel="noopener noreferrer"
                        >
                            <img 
                                class="logo"
                                src="{{ '/assets/images/Icons/linkedin_blue.svg' | relative_url }}"
                                alt="LinkenIn logo"
                            >
                        </a>
                    </div>
                </div>
            </div>
            <div class="news-and-stories-news gap">
                {% assign sorted_articles = site.news | sort: "date" | reverse %}
                {% for article in sorted_articles limit:2%}
                    <article class="news-and-stories-news-block">
                        <a  href="/news/{{ article.link }}" 
                            target="_blank"
                            rel="noopener noreferrer"
                            aria-label="{{ article.title }}"
                        >
                            <div class="news-and-stories-news-block-image" >
                                <img src="{{ article.mainImage }}" alt="{{ article.title }}">
                            </div>  
                        </a>
                        <div>
                            <h3>
                                <a href="" target="_blank" rel="noopener noreferrer">
                                    {{ article.title }}
                                </a>
                            </h3> 
                            <p class="category">{{ article.type }}</p>
                        </div>  
                    </article>
                {% endfor %}
            </div>
        </div>     
</section>

  <!-- Partners Section -->
<section id="partners">
    <div class="background-image-connector-bottom"></div>
    <div class="partners-slider container">
        <div class="partners-track">
            {% for partner in site.partners %}
                <a href="{{ partner.link }}" target="_blank" rel="noopener noreferrer"><img src="{{ partner.image | relative_url }}" alt="{{ partner.altImageText[page.lang] }}"></a>
             {% endfor %}
            
            <!-- Duplicate for infinite scroll effect -->
             {% for partner in site.partners %}
                <a href="{{ partner.link }}" target="_blank" rel="noopener noreferrer"><img src="{{ partner.image | relative_url }}" alt="{{ partner.altImageText[page.lang] }}"></a>
             {% endfor %}
        </div>
    </div>
</section>

<script src="{{ '/assets/js/fetchFrontpageStats.js' | relative_url }}"></script>
<script src="{{ '/assets/js/frontPageHeroImageSlideshow.js' | relative_url }}"></script>