---
layout: base
---
<section id="news" class="news">
    <div class="container divider">
            <h1>News and Stories</h1>
        </div>
    <div class="container gap">
        {% assign sorted_articles = site.news | sort: "date" | reverse %}
        {% for article in sorted_articles %}
            <article class="article">
                <img src={{ article.mainImage }}>
                <div class="padding" style="display:grid; gap:1rem;">
                    <a href={{ article.link }}><h1>{{ article.title }}</h1></a>
                    <p>{{ article.date | date: "%B %-d %Y" }} | {{ article.type }}</p>
                    <p>{{ article.teaser }}</p>
                </div>    
            </article>
        {% endfor %}

    </div>
</section>