---
layout: base
---
<section id="organisations">
    <div class="container">
        <h1>The Organisations</h1>
    </div>
    <div class="container main">
        <div class="organisation">
            <h2>Aarhus University</h2>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div>
                    <img src="{{ '/assets/images/partnerLogos/aarhus-university-logo-vector.png' | relative_url }}">
                </div>
            </div>
        </div>
        <div class="organisation">
            <h2>DTU - Danish Technical Universitet</h2>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div>
                    <img src="{{ '/assets/images/partnerLogos/DTU Corp_Red_RGB.png' | relative_url }}">
                </div>
            </div>
        </div>
        <div class="organisation">
            <h2>Naturehistorical Museum Aarhus</h2>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div>
                    <img src="{{ '/assets/images/partnerLogos/naturhis aarhus logo.png' | relative_url }}">
                </div>
            </div>
        </div>
        <div class="organisation">
            <h2>Natural History Museum - Denmark</h2>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div>
                    <img src="{{ '/assets/images/partnerLogos/SNM_EN_logo_black_RGB.jpg' | relative_url }}">
                </div>
            </div>
        </div>
    </div>
</section>
