---
layout: base
---
<section id="team" class="team">    
    <div class="container gap">
        <h1>The Team</h1>
        <p>These are the fine people working to make your experience with DaSSCo just that much better.</p>
        <div class="team-main gap">
            <div class="team-person">
                <img src="{{ '/assets/images/placeholders/closeup.png' | relative_url}}">
                <h2>Kim Steenstrup Pedersen</h2>
                <h3>DaSSCo Project Manager</h3>
                
                <p>
                    <a href="mailto:info@dassco.dk">info@dassco.dk</a>
                </p>
            </div>
            <div class="team-person">
                <img src="{{ '/assets/images/placeholders/closeup.png' | relative_url}}">
                <h2>Bhupjit Singh</h2>
                <h3>IT Lead</h3>
               
                <p>
                    <a href="mailto:info@dassco.dk">info@dassco.dk</a>
                </p>
            </div>
            <div class="team-person">
                <img src="{{ '/assets/images/placeholders/closeup.png' | relative_url}}">
                <h2>Lars Dam</h2>
                <h3>IT Developer</h3>
               
                <p>
                    <a href="mailto:info@dassco.dk">info@dassco.dk</a>
                </p>
            </div>
            <div class="team-person">
                <img src="{{ '/assets/images/placeholders/closeup.png' | relative_url}}">
                <h2>Chelsea Alene Graham</h2>
                <h3>KDigitiser Lead</h3>
               
                <p>
                    <a href="mailto:info@dassco.dk">info@dassco.dk</a>
                </p>
            </div>
            <div class="team-person">
                <img src="{{ '/assets/images/placeholders/closeup.png' | relative_url}}">
                <h2>Allison Honea Becker</h2>
                <h3>Digitser</h3>
                
                <p>
                    <a href="mailto:info@dassco.dk">info@dassco.dk</a>
                </p>
            </div>
            <div class="team-person">
                <img src="{{ '/assets/images/placeholders/closeup.png' | relative_url}}">
                <h2>Rebekka Lesske</h2>
                <h3>Digitser</h3>
                
                <p>
                    <a href="mailto:info@dassco.dk">info@dassco.dk</a>
                    
                </p>
            </div>
            <div class="team-person">
                <img src="{{ '/assets/images/placeholders/closeup.png' | relative_url}}">
                <h2>Anne Jo Dobel</h2>
                <h3>Digitser</h3>
                
                <p>
                    <a href="mailto:info@dassco.dk">info@dassco.dk</a>

                </p>
            </div>
            <div class="team-person">
                <img src="{{ '/assets/images/placeholders/closeup.png' | relative_url}}">
                <h2>Mathilde Gomes</h2>
                <h3>Digitser</h3>
                
                <p>
                    <a href="mailto:info@dassco.dk">info@dassco.dk</a>

                </p>
            </div>
            <div class="team-person">
                <img src="{{ '/assets/images/placeholders/closeup.png' | relative_url}}">
                <h2>Zsuzsanna Papp</h2>
                <h3>IT</h3>
                
                <p>
                    <a href="mailto:info@dassco.dk">info@dassco.dk</a>

                </p>
            </div>
            <div class="team-person">
                <img src="{{ '/assets/images/placeholders/closeup.png' | relative_url}}">
                <h2>Fedor Steeman</h2>
                <h3>IT</h3>
                
                <p>
                    <a href="mailto:info@dassco.dk">info@dassco.dk</a>

                      </p>
            </div>
            <div class="team-person">
                <img src="{{ '/assets/images/placeholders/closeup.png' | relative_url}}">
                <h2>Pernille Pia Hansen</h2>
                <h3>Communications Consultant</h3>
                
                <p>
                    <a href="mailto:info@dassco.dk">info@dassco.dk</a>
                </p>
            </div>
        </div>
    </div>
</section>
