---
layout: base
---
<section id="team" class="team">    
    <div class="container gap">
        <h1>The Team</h1>
        <p>These are the fine people working to make your experience with DaSSCo just that much better.</p>
        <div class="team-main gap">
            <div class="team-person">
                <img src="../assets/images/placeholders/closeup.png">
                <h2>Pernille Pia Hansen</h2>
                <h3>Kommunikationskonsulent</h3>
                <p>
                    <a href="tel:">+45 12 34 56 78</a>
                </p>
                <p>
                    <a href="mailto:info@dassco.dk">info@dassco.dk</a>
                </p>
            </div>
            <div class="team-person">
                <img src="../assets/images/placeholders/closeup.png">
                <h2>Henrik Bredahl Hansen</h2>
                <h3>Udvikler</h3>
                <p>
                    <a href="tel:">+45 12 34 56 78</a>
                </p>
                <p>
                    <a href="mailto:info@dassco.dk">info@dassco.dk</a>
                </p>
            </div>
            <div class="team-person">
                <img src="../assets/images/placeholders/closeup.png">
                <h2>Pernille Pia Hansen</h2>
                <h3>Kommunikationskonsulent</h3>
                <p>
                    <a href="tel:">+45 12 34 56 78</a>
                </p>
                <p>
                    <a href="mailto:info@dassco.dk">info@dassco.dk</a>
                </p>
            </div>
            <div class="team-person">
                <img src="../assets/images/placeholders/closeup.png">
                <h2>Pernille Pia Hansen</h2>
                <h3>Kommunikationskonsulent</h3>
                <p>
                    <a href="tel:">+45 12 34 56 78</a>
                </p>
                <p>
                    <a href="mailto:info@dassco.dk">info@dassco.dk</a>
                </p>
            </div>
            <div class="team-person">
                <img src="../assets/images/placeholders/closeup.png">
                <h2>Pernille Pia Hansen</h2>
                <h3>Kommunikationskonsulent</h3>
                <p>
                    <a href="tel:">+45 12 34 56 78</a>
                </p>
                <p>
                    <a href="mailto:info@dassco.dk">info@dassco.dk</a>
                </p>
            </div>
            <div class="team-person">
                <img src="../assets/images/placeholders/closeup.png">
                <h2>Pernille Pia Hansen</h2>
                <h3>Kommunikationskonsulent</h3>
                <p>
                    <a href="tel:">+45 12 34 56 78</a>
                </p>
                <p>
                    <a href="mailto:info@dassco.dk">info@dassco.dk</a>
                </p>
            </div>
        </div>
    </div>
</section>