---
layout: base
---
{% assign t = site.data.i18n[page.lang].myhome %}
<!-- Hero image slideshow -->
<div id="hero-slideshow">
    <div class="slide" id="slideA"><!-- slide A --></div>
    <div class="slide" id="slideB"><!-- slide B --></div>
    <div class="hero-title">
        <h1>{{ t.hero.title}}</h1>
        <p>{{ t.hero.subtitle}}</p>
    </div>
</div>
<!-- Statistics -->
<section id="statistics" class="statistics">
    <div class="container stat gap">
        <div class="information">
            <img src="{{ '/assets/images/specimens.webp' | relative_url }}" alt="" class="stat-logo">
            <div class="feature-content">
                <p id="feature-occourence">{{ t.stats.loading }}</p>
                <a href=""><h2>{{ t.stats.occourences }}</h2></a>                      
            </div>
        </div>
        <div class="information">
            <img src="{{ '/assets/images/collections.webp' | relative_url }}" alt="" class="stat-logo">
            <div class="feature-content">
                <p id="feature-datasets">{{ t.stats.loading }}</p>
                <a href=""><h2>{{ t.stats.datasets }}</h2></a>
            </div>
        </div>
        <div class="information">
            <img src="{{ '/assets/images/collections.webp' | relative_url }}" alt="" class="stat-logo">
            <div class="feature-content">
                <p id="feature-collections">{{ t.stats.loading }}</p>
                <a href=""><h2>{{ t.stats.collections }}</h2></a>
            </div>
        </div>
        <div class="information">
            <img src="{{ '/assets/images/collections.webp' | relative_url }}" alt="" class="stat-logo">
            <div class="feature-content">
                <p id="feature-tbd">{{ t.stats.loading }}</p>
                <a href=""><h2>{{ t.stats.default }}</h2></a>
            </div>
        </div>
    </div>
</section>

<!-- Rubrik -->
<section id="rubrik" class="rubrik">
    <div class="background-orange-image-connector-bottom"></div>
    <div class="container gap">
        <h2>{{ t.rubrik.title}}</h2>
        <p>{{ t.rubrik.subtitle}}</p>
    </div>
</section>

  <!-- What is Dassco -->
<section id="what-is-dassco" class="what-is-dassco">
    <div class="what-is-dassco-main container gap">
        <div class="what-is-dassco-container padding">
            <h3>{{ t.what-is.what.title}}</h3>
            <p>{{ t.what-is.what.text}}</p>
        </div>
        <div class="what-is-dassco-container padding">
            <h3>{{ t.what-is.why.title}}</h3>
            <p>{{ t.what-is.why.text}}</p>
        </div>
        <div class="what-is-dassco-container padding">
            <h3>{{ t.what-is.who.title}}</h3>
            <p>{{ t.what-is.who.text}}</p>
        </div>
        <div class="button">
            <a href="./about.html">{{ t.what-is.button-text}}</a>
        </div>
    </div>
    
</section>

  <!-- News and Stories -->
<section id="news-and-stories" class="news-and-stories">
    <div class="background-image-connector-top"></div>
        <div class="container news-and-stories-content gap">
            <div class="news-and-stories-main gap">
                <div class="news-and-stories-header">
                    <h2>{{ t.news.title }}</h2>
                    <p>{{ t.news.subtitle }}</p>
                </div>
                <img src="{{ '/assets/images/R5__0086_WebSmall.jpg' | relative_url }}" alt="">
                <div class="news-and-stories-information gap">
                    <h3>{{ t.news.so-me.title }}</h3>
                    <p>{{ t.news.so-me.intro }}</p>
                    <p>{{ t.news.so-me.description }}</p>
                    <p>{{ t.news.so-me.cta }}</p>
                    <div class="news-and-stories-logos">
                        <a 
                            href="https://www.facebook.com/StatensNaturhistoriskeMuseum/" 
                            target="_blank"
                            aria-label="Follow us on Facebook (opens in new tab)"
                            rel="noopener noreferrer"
                        >
                            <img 
                                class="logo"
                                src="{{ '/assets/images/Icons/facebook_blue.svg' | relative_url }}"
                                alt="Facebook logo"
                            >
                        </a>
                        <a 
                            href="https://www.linkedin.com/company/statens-naturhistoriske-museum/posts/?feedView=all"
                            target="_blank"
                            aria-label="Follow us on LinkedIn (opens in new tab)"
                            rel="noopener noreferrer"
                        >
                            <img 
                                class="logo"
                                src="{{ '/assets/images/Icons/linkedin_blue.svg' | relative_url }}"
                                alt="LinkenIn logo"
                            >
                        </a>
                    </div>
                </div>
            </div>
            <div class="news-and-stories-news gap">
                {% assign sorted_articles = site.news | sort: "date" | reverse %}
                {% for article in sorted_articles limit:2%}
                    <article class="news-and-stories-news-block">
                        <a  href="/news/{{ article.link }}" 
                            target="_blank"
                            rel="noopener noreferrer"
                            aria-label="{{ article.title }}"
                        >
                            <div class="news-and-stories-news-block-image" >
                                <img src="{{ article.mainImage }}" alt="{{ article.title }}">
                            </div>  
                        </a>
                        <div>
                            <h3>
                                <a href="" target="_blank" rel="noopener noreferrer">
                                    {{ article.title }}
                                </a>
                            </h3> 
                            <p class="category">{{ article.type }}</p>
                        </div>  
                    </article>
                {% endfor %}
            </div>
        </div>     
</section>

  <!-- Partners Section -->
<section id="partners">
    <div class="background-image-connector-bottom"></div>
    <div class="partners-slider container">
        <div class="partners-track">
            {% for partner in site.partners %}
                <a href="{{ partner.link }}" target="_blank" rel="noopener noreferrer"><img src="{{ partner.image | relative_url }}" alt="{{ partner.altImageText[page.lang] }}"></a>
             {% endfor %}
            
            <!-- Duplicate for infinite scroll effect -->
             {% for partner in site.partners %}
                <a href="{{ partner.link }}" target="_blank" rel="noopener noreferrer"><img src="{{ partner.image | relative_url }}" alt="{{ partner.altImageText[page.lang] }}"></a>
             {% endfor %}
        </div>
    </div>
</section>

<script src="{{ '/assets/js/fetchFrontpageStats.js' | relative_url }}"></script>
<script src="{{ '/assets/js/frontPageHeroImageSlideshow.js' | relative_url }}"></script>