---
layout: base
---
{% assign t = site.data.i18n[page.lang].news %}
<section id="news" class="news">
    <div class="top-background-image"><div><!-- Background-Overlay --></div></div>
    <div class="container divider">
            <h1>{{ t.title }}</h1>
        </div>
    <div class="container gap">
        {% assign sorted_articles = site.news | sort: "date" | reverse %}
        {% for article in sorted_articles %}
            <article class="article">
                <div class="article-image">
                    <img src="{{ article.mainImage  | relative_url }}" alt="{{ article.altImageText[page.lang] }}">
                </div>
                <div class="article-text" style="display:grid; gap:1rem;">
                    <a href="/news/{{ article.link }}"><h1>{{ article.title }}</h1></a>
                    <p>{{ article.date | date: "%B %-d %Y" }} | {{ article.type }}</p>
                    <p>{{ article.teaser }}</p>
                </div>    
            </article>
        {% endfor %}

    </div>
</section>