---
layout: base
---
{% assign t = site.data.i18n[page.lang].organisations %}
<section id="organisations">
    <div class="top-background-image"><div><!-- Background-Overlay --></div></div>
    <div class="container divider">
        <h1>{{ t.title }}</h1>
    </div>
    <div class="container main">
        {% assign sorted_partners = site.partners | sort: "order" %}
        {% for partner in sorted_partners %}
            <div class="organisation">
                <h2>{{ partner.name[page.lang]}}</h2>
                <div>
                    <p>{{ partner.content }}</p>
                    <div>
                        <img src="{{ partner.image }}" alt="{{ partner.altImageText[page.lang] }}">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
