---
layout: base
---
{% assign t = site.data.i18n[page.lang].organisations %}
<section id="organisations">
    <div class="top-background-image"><div><!-- Background-Overlay --></div></div>
    <div class="container divider">
        <h1>{{ t.title }}</h1>
    </div>
    <div class="container main">
        {% assign sorted_partners = site.partners | sort: "order" %}
        {% for partner in sorted_partners %}
            <div class="organisation">
                <h2>{{ partner.name[page.lang]}}</h2>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div>
                        <img src="{{ partner.image }}" alt="{{ partner.altImageText[page.lang] }}">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
