---
layout: base
---
{% assign t = site.data.i18n[page.lang].resources %}
<section id="resources" class="resources">
    <div class="top-background-image"><div><!-- Background-Overlay --></div></div>
    <div class="container divider">
        <h1>{{ t.title }}</h1>
    </div>
    <div class="container gap">
        <p>{{ t.description }}</p>
        <div class="">
            <p><a href="https://github.com/NHMDenmark"><img 
                                class="logo"
                                src="{{ '/assets/images/Icons/github.svg' | relative_url }}"
                                style="responsive"
                                alt="Github logo"
                            > <i class="fa-brands fa-github"></i> {{ t.github.name }}</a>: {{ t.github.description }}</p>
        </div>
        <div class="">
            <p>{{ t.text }}</p>
        </div>
    </div>
</section>
<link href="/assets/fontawesome-free-6.3.0-web/css/fontawesome.min.css" rel="stylesheet">
<link href="/assets/fontawesome-free-6.3.0-web/css/brands.min.css" rel="stylesheet">
