---
layout: base
---
{% assign t = site.data.i18n[page.lang].team %}
<section id="team" class="team">
    <div class="top-background-image"><div><!-- Background-Overlay --></div></div>
    <div class="container gap">
        <h1>{{ t.title }}</h1>
        <p>{{ t.description }}</p>
        <div class="team-main gap">
            {% assign sortedTeam = site.team | sort: "order" %}
            {% for member in sortedTeam %}
                <div class="team-person">
                    <img src="{{ member.image | relative_url }}" alt="Picture of team member">
                    <h2>{{ member.name }}</h2>
                    <h3>{{ member.title }}</h3>
                    <p><a href="mailto:info@dassco.dk">{{ member.email }}</a></p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
